.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #f2f2f2; */
  /* padding: 20px; */
  /* border-radius: 5px; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

/* .search-input {
    width: 200px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
  } */

.product-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.product-table th {
  text-align: center;
  padding: 15px 5px;
  background-color: #f2f2f2;
}

.product-table tr {
  border-bottom: solid 0.5px rgb(196, 194, 194, 0.6);
  /* border: solid 1.5px rgb(0, 0, 0); */
}

.product-table td {
  padding: 15px 0px;
}

/* .product-table th,
.product-table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

.product-table th {
  background-color: #ddd;
} */

.button {
  margin: 0; /* Remove default margin */
  padding: 10px 20px;
  font-size: 14px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
}

.button-container {
  display: flex;
  justify-content: space-between; /* Horizontally align buttons */
  margin-top: 20px; /* Add margin between table and buttons */
}

/* Center buttons below table */
.button-container {
  width: 80%;
  margin: 0 auto;
}

#actions{
  font-weight: bold;
  cursor: pointer;
}

/* Estilos del modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
}

.close {
  color: #000000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.button-container {
  text-align: right;
}

.button {
  margin-left: 10px;
}

.cancel {
  background-color: rgb(78, 77, 77);
}

.confirm {
  background-color: yellow;
  color: #000000;
}

/* Clase para mostrar el modal */
.show {
  display: block;
}
