<div class="container">
  <!-- Componente de búsqueda de productos -->
  <app-search-product (search)="onSearch($event)"></app-search-product>

  <div>
    <!-- Tabla de productos -->
    <table class="product-table">
      <thead>
        <tr>
          <th>Logo</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Fecha de liberación</th>
          <th>Fecha de revisión</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="body-cicle">
              <!-- Ciclo sobre los productos a mostrar -->
              <tr *ngFor="let product of displayedProducts; let i = index">
                  <td><img src="{{product.logo}}"
                           alt=""/></td>
                  <td>{{ product.name }}</td>
                  <td>{{ product.description }}</td>
                  <td>{{ product.date_release | date }}</td>
                  <td>{{ product.date_revision | date }}</td>
                  <td id="actions"
                      (click)="toggleDropdown(product)">:
                  </td>
                  <td>
                    <div *ngIf="product.showDropdown"
                         class="dropdown">
                      <div class="dropdown-content">
                        <button (click)="editProduct(product)"
                                class="dropbtn">Editar
                        </button>
                        <button (click)="openModal(product)"
                                class="dropbtn">Eliminar
                        </button>
              </div>
            </div>
          </td>
              </tr>
      </tbody>
    </table>
    <br />
    <!-- Navegación y opciones de resultados -->
    <div class="button-container">
      <label>Resultados: {{ displayedProducts.length }}</label>
      <button class="button-design" (click)="showPrevious()">Anterior</button>
      <span>Página: {{ currentPage }} / {{ totalPages }}</span>
      <button class="button-design" (click)="showNext()">Siguiente</button>
      <select class="select-design" [(ngModel)]="selectedValue" (change)="onValueChange($event)">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
      </select>
    </div>

  </div>
</div>

<!-- Modal para confirmar eliminación -->
<div class="modal"
      [class.show]="isModalOpen">
  <div class="modal-content">
    <span class="close"
            (click)="closeModal()">&times;</span>
    <p>¿Estás seguro de eliminar el producto {{ selectedProductTitle }}?</p>
    <div class="button-container">
      <button class="button cancel"
                (click)="closeModal()">Cancelar
      </button>
      <button class="button confirm"
                (click)="deleteProduct()">Confirmar
      </button>
    </div>
  </div>
</div>
