<div class="container">
  <app-search-product (search)="onSearch($event)"></app-search-product>
  <div>
    <table class="product-table">
      <thead>
        <tr>
          <th>Logo</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Fecha de liberación</th>
          <th>Fecha de revisión</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of displayedProducts">
          <td><img src= "" alt="" /></td>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.date_release }}</td>
          <td>{{ product.date_revision }}</td>
          <td id="actions" (click)="toggleDropdown(product)">:</td>
    <td>
      <div *ngIf="product.showDropdown" class="dropdown">
        <div class="dropdown-content">
          <button (click)="editProduct(product)" class="dropbtn">Editar</button>
          <button (click)="openModal(product)" class="dropbtn">Eliminar</button>

        </div>
      </div>
    </td>
        </tr>
      </tbody>
    </table>
    <br />
    <div class="button-container">
      <label>Resultados: {{ displayedProducts.length }}</label>
      <button class="button" (click)="showPrevious()">Anterior</button>
      <button class="button" (click)="showNext()">Siguiente</button>
      <select class="button" [(ngModel)]="selectedValue" (change)="onValueChange($event)">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
      </select>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal" [class.show]="isModalOpen">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <p>¿Estás seguro de eliminar el producto {{ selectedProductTitle }}?</p>
    <div class="button-container">
      <button class="button cancel" (click)="closeModal()">Cancelar</button>
      <button class="button confirm" (click)="deleteProduct()">Confirmar</button>
    </div>
  </div>
</div>
