/* Estilos para el logo */
.logo {
  display: block;
  margin: 0 auto; /* Centrar horizontalmente */
  max-width: 200px; /* Tamaño máximo */
  height: auto; /* Altura automática para mantener la proporción */
}
