<div class="container">
        <div class="formulario">
            <h1>Formulario de Registro</h1>
            <hr>
            <div class="campo">
                <label for="id">ID:</label>
                <input type="text" id="id" name="id">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre">
            </div>
            <div class="campo">
                <label for="descripcion">Descripción:</label>
                <input id="descripcion" name="descripcion">
                <label for="logo">Logo:</label>
                <input type="input" id="logo" name="logo">
            </div>
            <div class="campo">
                <label for="fecha_liberacion">Fecha de Liberación:</label>
                <input type="date" id="fecha_liberacion" name="fecha_liberacion">
                <label for="fecha_revision">Fecha de Revisión:</label>
                <input type="date" id="fecha_revision" name="fecha_revision">
            </div>
            <div class="botones">
                <button type="button" class="reiniciar">Reiniciar</button>
                <button type="submit" class="enviar">Enviar</button>
            </div>
        </div>
    </div>
