/* Estilos para campos de formulario */

/* Estilos para encabezado */
h1 {
  margin-top: 0; /* Sin margen superior */
  margin-bottom: 20px; /* Margen inferior */
}

/* Estilos para mensajes de error */
.error {
  color: red; /* Color de texto rojo */
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.error-border {
  border: solid 1.5px rgb(255, 0, 0) !important;
}

.form-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
}

.campo > label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.campo > input {
  width: 100%;
  border: none;
  outline: none;
  border: solid 1.5px rgb(140, 140, 140);
  border-radius: 5px;
  height: 40px;
  padding: 0px 8px;
  font-size: 16px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.campo > input:focus{
  border: solid 1.5px rgb(25, 24, 24);
}

.form-title{
  text-align: center;
}

.botones {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2em;
  margin-top: 25px;
}

.button-reset {
  justify-self: end;
}

.button-send {
  justify-self: start;
}

/* Estilo para el campo de entrada de solo lectura */
input[readonly] {
  background-color: #f2f2f2; /* Cambiar el color de fondo */
  cursor: not-allowed; /* Cambiar el cursor */
}


@media (max-width:550px){
  .form-fields {
    grid-template-columns: 1fr;
  }
}