<app-header></app-header>
<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <div class="formulario">
      <h1>Formulario de Registro</h1>
      <hr />
      <div class="campo">
        <label for="id">ID:</label>
        <input type="text" id="id" formControlName="id" />
        <div
          *ngIf="
            registrationForm.controls['id'].invalid &&
            registrationForm.controls['id'].touched
          "
          class="error"
        >
          ID no válido!
        </div>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" formControlName="name" />
        <div
          *ngIf="
            registrationForm.controls['name'].invalid &&
            registrationForm.controls['name'].touched
          "
          class="error"
        >
          Nombre no válido!
        </div>
      </div>
      <div class="campo">
        <label for="descripcion">Descripción:</label>
        <input id="descripcion" formControlName="description" />
        <div
          *ngIf="
            registrationForm.controls['description'].invalid &&
            registrationForm.controls['description'].touched
          "
          class="error"
        >
          Descripción no válida!
        </div>
        <label for="logo">Logo:</label>
        <input type="input" id="logo" formControlName="logo" />
        <div
          *ngIf="
            registrationForm.controls['logo'].invalid &&
            registrationForm.controls['logo'].touched
          "
          class="error"
        >
          Logo no válido!
        </div>
      </div>
      <div class="campo">
        <label for="date_release">Fecha de Liberación:</label>
        <input
          type="date"
          id="fecha_liberacion"
          formControlName="date_release"
        />
        <div
          *ngIf="
            registrationForm.controls['date_release'].invalid &&
            registrationForm.controls['date_release'].touched
          "
          class="error"
        >
          Fecha de liberación no válida!
        </div>
        <label for="date_revision">Fecha de Revisión:</label>
        <input
          type="date"
          id="fecha_revision"
          formControlName="date_revision"
        />
        <div
          *ngIf="
            registrationForm.controls['date_revision'].invalid &&
            registrationForm.controls['date_revision'].touched
          "
          class="error"
        >
          Fecha de revisión no válida!
        </div>
      </div>
      <div class="botones">
        <button
          type="button"
          class="reiniciar"
          (click)="registrationForm.reset()"
        >
          Reiniciar
        </button>
        <button
          type="submit"
          class="enviar"
          [disabled]="!registrationForm.valid"
        >
          Enviar
        </button>
      </div>
    </div>
  </div>
</form>
